.add_prod{
    transition: 1.3s;
    background-color: #e0e0e0;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
 }

.card-prod{
    border-radius: 15px;
    height: 140px;
}

.add_prod:hover{
    background-color:#b9b9b9;
}