<%
var ciclos = [];

if (produto.ciclos) {
    ciclos = produto.ciclos;
}
%>


<!DOCTYPE html>
<html lang="en">

<% include templates/head.ejs %>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <% include templates/header.ejs %>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <% include templates/sidebar-menu.ejs %>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary"><%= page %></h3></div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/produtos">Produtos</a></li>
                    <li class="breadcrumb-item active"><%= page %></li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row justify-content-start">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-validation">

                                <h3 class="box-title m-t-15">Produto</h3>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#home2"
                                                            role="tab"><span class="hidden-sm-up"><i
                                                        class="ti-home"></i></span> <span
                                                    class="hidden-xs-down">Geral</span></a></li>
                                    <% if(produto.id){ %>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile2"
                                                            role="tab"><span class="hidden-sm-up"><i
                                                        class="ti-user"></i></span> <span
                                                    class="hidden-xs-down">Ciclo</span></a></li>
                                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#messages2"
                                                            role="tab"><span class="hidden-sm-up"><i
                                                        class="ti-email"></i></span> <span class="hidden-xs-down">Histórico</span></a>
                                    </li>
                                    <% } %>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane active" id="home2" role="tabpanel">
                                        <div class="p-20">
                                            <form id="form_produto" class="form-valide"
                                                  <% if(produto.id) { %>action="/produtos/<%= produto.id %>/editar"
                                                    <% } else { %>
                                                  action="/produtos/cadastrar"
                                                    <% } %>
                                                  method="post">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label" for="nome">Nome <span
                                                                class="text-danger">*</span></label>
                                                    <div class="col-lg-5">
                                                        <input type="text" class="form-control" id="nome" name="nome"
                                                               placeholder="Digite um nome.."
                                                               value="<%= produto.nome %>">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label" for="descricao">Descrição
                                                        <span class="text-danger">*</span></label>
                                                    <div class="col-lg-5">
                                                        <textarea id="descricao" name="descricao" class="form-control"
                                                                  rows="10"
                                                                  placeholder="Digite uma breve descrição sobre o produto.."
                                                                  style="height: 130px;"><%= produto.descricao %></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-lg-6 offset-1">
                                                        <div class="pull-right">
                                                            <% if(produto.id){ %>
                                                            <button type="submit" class="btn btn-warning">Editar
                                                            </button>
                                                            <button type="submit" class="btn btn-youtube"
                                                                    onclick="deletar('<%= produto.id %>')">Deletar
                                                            </button>
                                                            <% } else { %>
                                                            <button type="submit" class="btn btn-primary">Cadastrar
                                                            </button>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane  p-20" id="profile2" role="tabpanel">

                                        <input id="teste" value="<%= produto.ciclos %>" hidden/>
                                        <div id='marotinho' class="row m-b-20">
                                            <% ciclos.forEach((ciclo, index) => { %>
                                            <div class="col-lg-12 row" id="ciclo<%= index %>">
                                                <div class="col-lg-12">
                                                    <h4>Etapa <%= index + 1 %> </h4>
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label for="nome">Quantidade de dias<span
                                                                class="text-danger">*</span></label>
                                                    <input type="number" class="form-control add_dias"
                                                           id="qtd_dias<%= index %>"
                                                           name="qtd_dias<%= index %>"
                                                           placeholder="Digite uma quantidade"
                                                           min="1"
                                                           value="<%= ciclo.qtd_dias %>"/>
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label for="nome">Temperatura(°C)<span
                                                                class="text-danger">*</span></label>
                                                    <input type="number" class="form-control"
                                                           id="temperatura<%= index %>"
                                                           name="temperatura<%= index %>"
                                                           placeholder="Digite uma quantidade"
                                                           value="<%= ciclo.temperatura %>"/>
                                                </div>
                                                <div class="form-group col-lg-3">
                                                    <label for="nome">Umidade(%UR)<span
                                                                class="text-danger">*</span></label>
                                                    <input type="number" class="form-control"
                                                           id="umidade<%= index %>"
                                                           name="umidade<%= index %>"
                                                           placeholder="Digite uma quantidade"
                                                           value="<%= ciclo.umidade %>"/>
                                                </div>
                                                <div class="form-group ">
                                                    <button class="btn btn-youtube" onclick="delCiclo(<%= index %>)"
                                                            style="margin-top: 35px;">Excluir
                                                    </button>
                                                </div>
                                            </div>
                                            <% }); %>
                                        </div>
                                        <div class="p-10 row">
                                            <button onclick="addCiclo()" class="btn btn-primary">
                                                Adicionar etapa
                                            </button>

                                            <h4 class="offset-5"><strong> Quantidade total de dias:&nbsp; </strong>
                                                <h4 id="cont_dias">0</h4>
                                            </h4>

                                            <button onclick="saveCiclo('<%= produto.id %>')"
                                                    class="btn btn-primary m-l-103">
                                                Salvar
                                            </button>

                                        </div>
                                    </div>
                                    <div class="tab-pane p-20" id="messages2" role="tabpanel">
                                        <div class="col-lg-6">
                                            <% if(!maturacao_ativa){ %>
                                            <div class="card-title">
                                                <button onclick="novaMaturacao('<%= produto.id %>')"
                                                        class="btn btn-primary">
                                                    Nova maturação
                                                </button>
                                            </div>
                                            <% } %>
                                            <div class="card-title">
                                                <h4>Histórico de maturações</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive">
                                                    <table class="table table-hover ">
                                                        <thead>
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Inicio</th>
                                                            <th>Fim</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <% if (historicos){
                                                        historicos.forEach(historico=>{ %>
                                                        <tr>
                                                            <th scope="row"><%= historico.id %></th>
                                                            <td><%= historico.data_inicio == "" ? "" : moment.unix(historico.data_inicio).format('DD/MM/YYYY') %></td>
                                                            <td><%= historico.data_fim == "" ? "" : moment.unix(historico.data_fim).format('DD/MM/YYYY') %></td>
                                                        </tr>
                                                        <% });
                                                        } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- /# card -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <% include templates/footer.ejs %>
        <!-- End footer -->

        <script>
            let ciclos = [];
            let qtd = 0;
            <% if(produto.ciclos){ %>
            qtd = parseInt('<%= produto.ciclos.length %>');
            <% } %>
            for (let a = 0; a < qtd; a++) {
                ciclos.push(1);
            }
        </script>
        <!-- All Jquery -->
        <script src="/js/lib/jquery/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="/js/lib/bootstrap/js/popper.min.js"></script>
        <script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="/js/jquery.slimscroll.js"></script>
        <!--Menu sidebar -->
        <script src="/js/sidebarmenu.js"></script>
        <!--stickey kit -->
        <script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>


        <!-- Form validation -->
        <script src="/js/lib/form-validation/jquery.validate.min.js"></script>
        <script src="/js/lib/form-validation/jquery.validate-init.js"></script>
        <!--Custom JavaScript -->
        <script src="/js/custom.min.js"></script>
        <script src="/js/views/produtos.js"></script>

</body>

</html>
