<!DOCTYPE html>
<html lang="en">

<% include templates/head.ejs %>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <% include templates/header.ejs %>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <% include templates/sidebar-menu.ejs %>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary"><%= page %></h3></div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
                    <li class="breadcrumb-item active"><%= page %></li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Exportar Dados</h4>
                            <h6 class="card-subtitle">Exportar dados para Excel, PDF ou Imprimir</h6>
                            <div class="table-responsive m-t-40">
                                <table id="tabela_historicos"
                                       class="display nowrap table table-hover table-striped table-bordered"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Cod Maturação</th>
                                        <th>Produto</th>
                                        <th>Temperatura</th>
                                        <th>Umidade</th>
                                        <th>Dia</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Cod Maturação</th>
                                        <th>Produto</th>
                                        <th>Temperatura</th>
                                        <th>Umidade</th>
                                        <th>Dia</th>
                                        <th>Data</th>
                                        <th>Hora</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <% if(registros) { registros.forEach((registro) =>{
                                     %>

                                    <tr>
                                        <td><%= registro.id_historico %></td>
                                        <td><%= registro.nome_produto %></td>
                                        <td><%= registro.temperatura %></td>
                                        <td><%= registro.umidade %></td>
                                        <td><%= registro.dia_atual %></td>
                                        <td><%= moment.unix(registro.data).format('DD/MM/YYYY') %></td>
                                        <td><%= moment.unix(registro.data).format('HH:MM:ss') %></td>
                                    </tr>

                                    <% });} %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <% include templates/footer.ejs %>
        <!-- End footer -->
    </div>
    <!-- End Page wrapper  -->
</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="/js/lib/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/js/lib/bootstrap/js/popper.min.js"></script>
<script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/jquery.slimscroll.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.18/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/datatables.min.js"></script>
<script src="/js/lib/datatables/datatables-init.js"></script>


</body>

</html>