<!DOCTYPE html>
<html lang="en">

<% include templates/head.ejs %>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <% include templates/header.ejs %>
    <!-- End header header  -->
    <!-- Sidebar menu -->
    <% include templates/sidebar-menu.ejs %>
    <!-- End sidebar menu -->

    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Dashboard</h3></div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <div class="col-md-3">
                    <div class="card p-30">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><img src="images/salami.png" alt="homepage" class="dark-logo"/></span>
                            </div>
                            <div id="div_produto_nome" class="media-body media-text-right">
                                <% if(relatorio.produto_nome){
                                    if (relatorio.produto_nome.length > 17) {
                                        relatorio.produto_nome = relatorio.produto_nome.substring(0, 13) + "...";
                                    }
                                %>
                                <h2><%= relatorio.produto_nome %></h2>
                                <p class="m-b-0">Produto</p>
                                <% } else { %>
                                <h2>N/A</h2>
                                <p> Indisponível</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-30">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-calendar f-s-40 color-warning"></i></span>
                            </div>
                            <div id="div_dias" class="media-body media-text-right">
                                <% if(relatorio.dia_atual){ %>
                                <h2><%= relatorio.dia_atual %>/<%= relatorio.dia_total %></h2>
                                <p class="m-b-0">Atual / Total</p>
                                <% } else { %>
                                <h2>0 / 0</h2>
                                <p> Indisponível</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-30">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-thermometer-half f-s-40 color-success"></i></span>
                            </div>
                            <div id="div_temperatura" class="media-body media-text-right">
                                <% if(relatorio.temperatura_atual){ %>
                                <h2><%= relatorio.temperatura_atual %>/<%= relatorio.temperatura_esperada %></h2>
                                <p class="m-b-0">Atual / Esperado</p>
                                <% } else { %>
                                <h2>0 / 0</h2>
                                <p> Indisponível</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-30">
                        <div class="media">
                            <div class="media-left meida media-middle">
                                <span><i class="fa fa-tint f-s-40 color-primary"></i></span>
                            </div>
                            <div id="div_umidade" class="media-body media-text-right">
                                <% if(relatorio.umidade_atual){ %>
                                <h2><%= relatorio.umidade_atual %>/<%= relatorio.umidade_esperada %></h2>
                                <p class="m-b-0">Atual / Esperado</p>
                                <% } else { %>
                                <h2>0 / 0</h2>
                                <p> Indisponível</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Line Chart -->
            <div class="offset-2 col-md-8">
                <div class="panel panel-bd lobidrag">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <h4>Histórico</h4>
                        </div>
                    </div>
                    <div class="panel-body">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
            </div>

            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <% include templates/footer.ejs %>
        <!-- End footer -->


        <script src="/js/lib/jquery/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="/js/lib/bootstrap/js/popper.min.js"></script>
        <script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="/js/jquery.slimscroll.js"></script>
        <!--Menu sidebar -->
        <script src="/js/sidebarmenu.js"></script>
        <!--stickey kit -->
        <script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>


        <script src="/js/lib/chart-js/Chart.bundle.js"></script>
        <script>

            const socket = io();
            let umidade = [];
            let temperatura = [];
            let label = [];
            counterr = 0
            socket.on('grafico', (data) => {
                data.forEach(historico => {

                    $("#div_dias h2").text(historico.dia_atual + "/" + historico.total_dias);
                    $("#div_dias p").text("Atual / Total");
                    $("#div_temperatura h2").text(historico.temperatura + "/" + historico.temperatura_esperada);
                    $("#div_temperatura p").text("Atual / Esperado");
                    $("#div_umidade h2").text(historico.umidade + "/" + historico.umidade_esperada);
                    $("#div_umidade p").text("Atual / Esperado");

                    myChart.data.labels.push(historico.data);
                    myChart.data.datasets[0].data.push(historico.umidade);
                    myChart.data.datasets[1].data.push(historico.temperatura);
                    myChart.update();
                });
            });

            socket.on('produto', (data) => {

                $("#div_produto_nome h2").text(data.produto_nome);
                $("#div_produto_nome p").text("Produto");
                $("#div_dias h2").text(0 + "/" + 0);
                $("#div_dias p").text("Indisponível");
                $("#div_temperatura h2").text(0 + "/" + 0);
                $("#div_temperatura p").text("Indisponível");
                $("#div_umidade h2").text(0 + "/" + 0);
                $("#div_umidade p").text("Indisponível");

                myChart.data.labels = data.label;
                myChart.data.datasets[0].data = data.umidade;
                myChart.data.datasets[1].data = data.temperatura;
                myChart.update();
            });

            //line chart
            let ctx = document.getElementById("lineChart");
            ctx.height = 150;


            <%
            if(relatorio.grafico){
            if(relatorio.grafico.temperatura.length < 6){
                let cont = 6 - relatorio.grafico.temperatura.length;
            for(var i = 0;i <= cont;i++){ %>
            umidade.push(0);
            temperatura.push(0);
            label.push("0");
            <% }
            }

            relatorio.grafico.temperatura.forEach(temp =>{ %>
            temperatura.push(<%= temp %>);
            <% });
            relatorio.grafico.umidade.forEach(umid =>{ %>
            umidade.push(<%= umid %>);
            <% });
            relatorio.grafico.label.forEach( label =>{ %>
            label.push("<%= label %>");
            <% });

            } %>
            let myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: label,
                    datasets: [
                        {
                            label: "Umidade (%UR)",
                            borderColor: "rgba(0, 123, 255, 0.9)",
                            borderWidth: "1",
                            backgroundColor: "rgba(0, 123, 255, .25)",
                            pointHighlightStroke: "rgba(26,179,148,1)",
                            data: umidade
                        },
                        {
                            label: "Temperatura (°C)",
                            borderColor: "rgba(0,0,0,.09)",
                            borderWidth: "1",
                            backgroundColor: "rgba(0,0,0,.27)",
                            data: temperatura
                        }
                    ]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    }

                }
            });
        </script>
        <!--Custom JavaScript -->
        <script src="/js/custom.min.js"></script>

</body>

</html>