<!DOCTYPE html>
<html lang="en">

<% include templates/head.ejs %>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
    </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">
    <!-- header header  -->
    <% include templates/header.ejs %>
    <!-- End header header -->
    <!-- Left Sidebar  -->
    <% include templates/sidebar-menu.ejs %>
    <!-- End Left Sidebar  -->
    <!-- Page wrapper  -->
    <div class="page-wrapper">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary"><%= page %></h3></div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/index">Dashboard</a></li>
                    <li class="breadcrumb-item active"><%= page %></li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <!-- Container fluid  -->
        <div class="container-fluid">
            <!-- Start Page Content -->
            <div class="row">
                <% if(produtos){

                produtos.forEach((produto, index) =>{ %>

                <div class=" col-lg-3">
                    <div class="card card-prod">
                        <div class=" row">
                            <div class="card-title col-md-7">
                                <% if (produto.nome.length > 12) {
                                    produto.nome = produto.nome.substring(0, 8) + "...";
                                }

                                    if (produto.descricao.length > 95) {
                                        produto.descricao = produto.descricao.substring(0, 89) + "...";
                                    }
                                %>
                                <h2><%= produto.nome %></h2>

                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-sm" onclick="verDetalhes('<%= produto.id %>')">
                                    <span>+ Detalhes</span></button>
                            </div>
                            <div class="col-md-12">
                                <h6><%= produto.descricao %></h6>
                            </div>
                        </div>
                    </div>
                    <!-- /# card -->
                </div>

                <% });
                } %>
                <div class="col-lg-3"><a href="/produtos/cadastro"/>
                    <div class="card card-prod add_prod">
                        <div class="card-title" style="margin-top: 15px">
                            <span style="font-size: 50px;">+</span>
                        </div>
                        <div style="margin-top:5px;font-size: 27px">Novo Produto</div>

                    </div>
                    <!-- /# card -->
                </div>
            </div>
            <!-- End PAge Content -->
        </div>
        <!-- End Container fluid  -->
        <!-- footer -->
        <% include templates/footer.ejs %>
        <!-- End footer -->


        <script src="/js/views/produtos.js" type="text/javascript"></script>
        <!-- All Jquery -->
        <script src="/js/lib/jquery/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="/js/lib/bootstrap/js/popper.min.js"></script>
        <script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="/js/jquery.slimscroll.js"></script>
        <!--Menu sidebar -->
        <script src="/js/sidebarmenu.js"></script>
        <!--stickey kit -->
        <script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>


        <!-- Form validation -->
        <script src="/js/lib/form-validation/jquery.validate.min.js"></script>
        <script src="/js/lib/form-validation/jquery.validate-init.js"></script>
        <!--Custom JavaScript -->
        <script src="/js/custom.min.js"></script>
        <script src="/js/views/produtos.js"></script>

</body>

</html>