<!DOCTYPE html>
<html lang="en">

<% include templates/head.ejs %>

<body class="fix-header fix-sidebar">
<!-- Preloader - style you can find in spinners.css -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
</div>
<!-- Main wrapper  -->
<div id="main-wrapper">

    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <h4>Registrar</h4>

                                <div class="form-group">
                                    <label>Nome</label>
                                    <input id="nome" type="text" class="form-control" placeholder="Nome">
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input id="email" type="email" class="form-control" placeholder="Email">
                                </div>
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input id="senha" type="password" class="form-control" placeholder="Senha">
                                </div>

                                <button onclick="registrar()" class="btn btn-primary btn-flat m-b-30 m-t-30">Registrar</button>
                                <div class="register-link m-t-15 text-center">
                                    <p>Já possui conta ? <a href="/login"> Entrar</a></p>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="/js/lib/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="/js/lib/bootstrap/js/popper.min.js"></script>
<script src="/js/lib/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="/js/jquery.slimscroll.js"></script>
<!--Menu sidebar -->
<script src="/js/sidebarmenu.js"></script>
<!--stickey kit -->
<script src="/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
<!--Custom JavaScript -->
<script src="/js/custom.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-auth.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDd4IQPhYm9fanIur9qEBZeQ2_QOrKnzy8",
        authDomain: "teste-hosting-3ea7e.firebaseapp.com",
        databaseURL: "https://teste-hosting-3ea7e.firebaseio.com",
        projectId: "teste-hosting-3ea7e",
        storageBucket: "teste-hosting-3ea7e.appspot.com",
        messagingSenderId: "771530261792"
    };
    firebase.initializeApp(config);
</script>
<script src="/js/views/registrar.js"></script>
</body>

</html>