<!-- footer -->
<footer class="footer"> © 2018 All rights reserved. Template designed by <a href="https://colorlib.com">Colorlib</a></footer>
<!-- End footer -->
</div>
<!-- End Page wrapper  -->

</div>
<!-- End Wrapper -->
<!-- All Jquery -->
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-auth.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyDd4IQPhYm9fanIur9qEBZeQ2_QOrKnzy8",
        authDomain: "teste-hosting-3ea7e.firebaseapp.com",
        databaseURL: "https://teste-hosting-3ea7e.firebaseio.com",
        projectId: "teste-hosting-3ea7e",
        storageBucket: "teste-hosting-3ea7e.appspot.com",
        messagingSenderId: "771530261792"
    };
    firebase.initializeApp(config);
</script>
<script src="/js/views/login.js"></script>