<!-- Left Sidebar  -->
<div class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-devider"></li>
                <li class="nav-label">Home</li>
                <li> <a  href="/index" aria-expanded="false"><i class="fa fa-home"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li class="nav-label">Cadastros</li>
                <li> <a  href="/produtos" aria-expanded="false"><i class="fa fa-wpforms"></i><span class="hide-menu">Produtos</span></a>
                </li>
                <li class="nav-label">RELATÓRIOS</li>
                <li> <a class="nav-label" href="/historicos" aria-expanded="false"><i class="fa fa-filter"></i><span class="hide-menu">Históricos</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</div>
<!-- End Left Sidebar  -->